---
import Layout from "../../layouts/Base.astro";
---

<Layout title="活動紹介" description="設計、製作、トレーニング…。私たちの活動は多岐にわたります。ここでは、その一端をご紹介します。">
    <section class="max-w-4xl mx-auto px-4 sm:px-6 lg:px-8 py-12">
        <h1>活動紹介</h1>
    </section>
</Layout>