---
import Layout from "../../layouts/Base.astro";
---

<Layout
    title="活動紹介"
    description="設計、製作、トレーニング…。私たちの活動は多岐にわたります。ここでは、その一端をご紹介します。"
>
    <section class="max-w-4xl mx-auto px-4 sm:px-6 lg:px-8 py-12">
        <h1>活動紹介</h1>
        <div class="grid sm:grid-cols-2 md:grid-cols-4 w-full">
            <a href="#Wing">Wing</a>
            <a href="#Drive">Drive</a>
            <a href="#Fairing">Fairing</a>
            <a href="#Linkage">Linkage</a>
            <a href="#Frame">Frame</a>
            <a href="#Propeller">Propeller</a>
            <a href="#Avionics">Avionics</a>
            <a href="#Pilot">Pilot</a>
        </div>
    </section>
    <section id="Wing">
        <h2>Wing</h2>
    </section>
    <section id="Drive">
        <h2>Drive</h2>
    </section>
    <section id="Fairing">
        <h2>Fairing</h2>
    </section>
    <section id="Linkage">
        <h2>Linkage</h2>
    </section>
    <section id="Frame">
        <h2>Frame</h2>
    </section>
    <section id="Propeller">
        <h2>Propeller</h2>
    </section>
    <section id="Avionics">
        <h2>Avionics</h2>
    </section>
    <section id="Pilot">
        <h2>Pilot</h2>
    </section>
</Layout>
