---
import HeaderLink from "./HeaderLink.astro";
import Icon from "./Icon.astro";
import ThemeToggle from "./ThemeToggle.astro";
import Logo from "../assets/logo.png";
import LogoDark from "../assets/logo-dark.png";
import { Image } from "astro:assets";
import "tailwindcss";
---

<nav
  class="sticky top-0 z-50 bg-background after:pointer-events-none after:absolute after:inset-x-0 after:bottom-0 after:h-px after:bg-white/10 text-foreground shadow-md backdrop-blur-md"
>
  <div class="mx-auto px-2 sm:px-6 lg:px-8">
    <div class="relative flex h-16 items-center justify-between">
      <div class="block">
        <a href="/" class="flex items-center space-x-2">
          <Image
            src={Logo}
            alt="Swingby Logo"
            class="object-cover w-auto lightlogo"
          />
          <Image
            src={LogoDark}
            alt="Swingby Logo"
            class="object-cover w-auto darklogo"
          />
          <span class="font-bold text-xl">Swingby</span>
        </a>
      </div>

      <div class="flex lg:hidden flex-1 justify-center items-center"></div>

      <div class="block lg:hidden mx-4">
        <!-- Mobile menu button-->
        <button
          type="button"
          onclick="toggleDisclosure('mobile-menu')"
          class="items-center justify-center rounded-md p-2 focus:outline-2 focus:-outline-offset-1 focus:outline-primary"
        >
          <span class="sr-only">Open main menu</span>
          <!-- Heroicon name: outline/bars-3 -->
          <Icon name="menu_open" />
        </button>
      </div>

      <!-- Desktop navigation -->
      <div class="hidden lg:ml-6 lg:block">
        <div class="flex space-x-4">
          <HeaderLink href="/#home">ホーム</HeaderLink>
          <HeaderLink href="/#about">私たちについて</HeaderLink>
          <HeaderLink href="/activity">活動紹介</HeaderLink>
          <HeaderLink href="/#aircraft">機体紹介</HeaderLink>
          <HeaderLink href="/#blog">活動記録</HeaderLink>
          <HeaderLink href="/#join">メンバー募集</HeaderLink>
          <HeaderLink href="/#sponsorship">スポンサー募集</HeaderLink>
          <HeaderLink href="/#contact">お問い合わせ</HeaderLink>
        </div>
      </div>

      <div class="block m-4">
        <ThemeToggle />
      </div>
    </div>
  </div>

  <!-- Mobile navigation -->
  <el-disclosure id="mobile-menu" hidden class="block lg:hidden">
    <div class="space-y-1 px-2 pt-2 pb-3">
      <HeaderLink href="/#home">ホーム</HeaderLink>
      <HeaderLink href="/#about">私たちについて</HeaderLink>
      <HeaderLink href="/activity">活動紹介</HeaderLink>
      <HeaderLink href="/#aircraft">機体紹介</HeaderLink>
      <HeaderLink href="/#blog">活動記録</HeaderLink>
      <HeaderLink href="/#join">メンバー募集</HeaderLink>
      <HeaderLink href="/#sponsorship">スポンサー募集</HeaderLink>
      <HeaderLink href="/#contact">お問い合わせ</HeaderLink>
    </div>
  </el-disclosure>
</nav>

<script is:inline>
  function toggleDisclosure(id) {
    const menu = document.getElementById(id);
    const expanded = menu.hasAttribute("hidden") ? "false" : "true";
    if (expanded === "false") {
      menu.removeAttribute("hidden");
    } else {
      menu.setAttribute("hidden", "");
    }
  }
</script>
